.ToBeginning {
  display: inline-block;
  transition: transform 0.2s ease;
  position: relative;
  bottom: 25px;
  width: 45px;
  height: 45px;
  background-color: #e31b6d;
}

.ToBeginning img {
  height: 37px;
  width: auto;
}

.ToBeginning:hover {
  cursor: pointer;
  transform: translateY(-10px);
}
