.ContactForm {
  margin: 0 auto;
  border-radius: 2px;
  color: white;
  opacity: 0.75;
}

.ContactForm form {
  padding: 20px;
}

.ContactForm input,
.ContactForm textarea,
.ContactForm input:focus,
.ContactForm textarea:focus {
  background-color: #020b16;
  color: white;
}

.ContactForm textarea {
  resize: none;
}

.ContactForm span {
  background-color: #020b16;
  color: white;
}

.FormError {
  color: #f54029;
  letter-spacing: 0.1rem;
  font-size: 15px;
  font-weight: 700;
}

.FormSubmit {
  padding-top: 10px;
  text-align: center;
}

.FormSubmit button {
  font-size: 20px;
  width: 120px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: white;
  -webkit-box-shadow: 0 0 0px 1000px #020b16 inset;
  transition: background-color 5000s ease-in-out 0s;
}

@media (min-width: 576px) {
  .ContactForm {
    max-width: 90%;
  }
}

@media (min-width: 768px) {
  .ContactForm {
    max-width: 60%;
  }
}

@media (min-width: 992px) {
  .ContactForm {
    max-width: 60%;
  }
}

@media (min-width: 1200px) {
  .ContactForm {
    max-width: 40%;
  }
}
