.ProfilePhoto {
  width: 60%;
  height: auto;
  border: 3px solid rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.2);
  opacity: 0.8;
  margin: auto;    
}

@media(max-width: 1100px) {
  .ProfilePhoto {
    width: 80%;
  }
}

@media(max-width: 768px) {
  .ProfilePhoto {
    width: 60%;
  }
}