.Card {
  width: 800px;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  margin: 30px 30px 30px;
  padding: 5px;
  border-radius: 7px !important;
}

.Card > div {
  position: absolute;
  width: 100%;
  height: 100%;
  box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.3);
}

@media (min-width: 320px) {
  .Card {
    width: 95%;
    height: 200px;
  }

  .Card > div {
    overflow: auto;
  }
}

@media (min-width: 400px) {
  .Card {
    height: 255px;
  }
}

@media (min-width: 460px) {
  .Card {
    height: 280px;
  }
}

@media (min-width: 530px) {
  .Card {
    height: 280px;
  }
}

@media (min-width: 576px) {
  .Card {
    height: 310px;
  }
}

@media (min-width: 650px) {
  .Card {
    width: 95%;
    height: 400px;
  }
  .Card > div {
    overflow: none;
  }
}

@media (min-width: 810px) {
  .Card {
    width: 800px;
    height: 400px;
  }
}
