.ProfileItems h1,
.ProfileItems span {
  font-size: 30px;
  font-weight: 400;
  opacity: 0.8;
}

.ProfileItems h2 {
  font-weight: 700;
  font-size: 75px;
}

.ProfileItems h1,
.ProfileItems h2,
.ProfileItems span {
  margin: 0;
}

.ProfileItems img {
  height: 28px;
  width: auto;
  float: left;
  margin-top: 7px;
  padding-right: 7px;
}

@media (max-width: 904px) {
  .ProfileItems h2 {
    font-size: 50px;
  }
}

@media (max-width: 782px) {
  .ProfileItems h1,
  .ProfileItems span {
    font-size: 27px;
  }
}

@media (max-width: 452px) {
  .ProfileItems h2 {
    font-size: 45px;
  }
}

@media (max-width: 395px) {
  .ProfileItems h1,
  .ProfileItems span {
    font-size: 27px;
  }
}

@media (max-width: 391px) {
  .ProfileItems h1,
  .ProfileItems span {
    font-size: 27px;
  }
}

@media (max-width: 767px) {
  .ProfileItems {
    padding-top: 20px;
    text-align: center;
  }

  .ProfileItems div {
    display: inline-block;
    text-align: left;
  }
}
