.NavigationItem {
  list-style-type: none;
  text-decoration: none;
  font-weight: 700;
  font-size: 15px;
  text-transform: uppercase;
  color: white;
  padding: 13px 0px;
  margin: 0px 20px;
  display: inline-block;
  position: relative;
}

.NavigationItem:hover {
  cursor: pointer;
  text-decoration: none;
}

.NavigationItem::before {
  transition: 300ms;
  height: 5px;
  content: "";
  position: absolute;
  background-color: #00bfff;
  width: 0%;
  bottom: 10px;
}

.NavigationItem:hover::before {
  width: 100%;
}
