.About {
  padding-top: var(--component-top-padding);
  padding-bottom: var(--component-bottom-padding);
}

.About h1 {
  font-weight: var(--header-font-weight);
  color: var(--custom-grey);
  text-align: center;
  padding-bottom: var(--header-bottom-padding);
}

.AboutRow {
  padding-bottom: 80px;
}


/* Adjectives */
.AdjectiveCard {
  text-align: center;
}

.AdjectiveCard div {
  margin: 0 auto;
}

.AdjectiveCard h3 {
  padding-top: 7px;
  font-weight: 700;
  color: var(--custom-grey);
}


/* Profile */
.Profile div {
  margin: 0 auto;
}

.Profile {
  text-align: center;
}

.Profile h3 {
  padding-top: 13px;
  font-weight: 700;
  color: var(--custom-grey);
}

/* Barchart */
.Bar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 29px;
  background-color: #eee;
  margin: 0 0 12px;
  font-size: 15px;
}

.BarFill {
  height: 100%;
  background-color: #00a1a7;
}

.BarName,
.PercentTag {
  display: flex;
  justify-content: center;
  align-items: center;
}

.BarName {
  width: 130px;
  height: 100%;
  background-color: var(--custom-light-blue);
  color: white;
  font-weight: bold;
}

.PercentTag {
  padding-right: 5px;
}
