.About {
  padding-top: var(--component-top-padding);
  padding-bottom: var(--component-bottom-padding);
}

.About h1 {
  font-weight: var(--header-font-weight);
  color: var(--custom-grey);
  text-align: center;
  padding-bottom: var(--header-bottom-padding);
}

.AboutRow {
  padding-bottom: 80px;
}
