.About {
  color: white;
  font-family: "PT Sans";
  max-width: 1300px;
}

.About h2 {
  font-weight: 700;
}

.About h1,
.About h3 {
  font-size: 30px;
  font-weight: 400;
  opacity: 0.8;
}

.About h1,
.About h2,
.About h3 {
  margin: 0;
}

@media (min-width: 320px) {
  .Me {
    width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
  }
  .About h2 {
    font-size: 45px;
    padding-bottom: 10px;
  }

  .About h3 {
    font-size: 20px;
  }

  .About .DevIcon {
    height: 27px;
    width: auto;
    padding: 0 7px;
  }

  .About h1,
  .About h2,
  .About h3,
  .About p {
    padding-right: 15px;
    padding-left: 15px;
  }
}

@media (min-width: 576px) {
  .Me {
    width: 80%;
  }
  .About h2 {
    font-size: 50px;
    padding-bottom: 10px;
  }

  .About h3 {
    font-size: 25px;
  }

  .About h1,
  .About h2,
  .About h3,
  .About p {
    padding-right: 25px;
    padding-left: 25px;
  }
}

.DownloadResume {
  margin-top: 20px;
  margin-left: 30px;
}

.DownloadResume img {
  height: 20px;
  width: auto;
  padding-right: 10px;
  padding-bottom: 4px;
}

.DownloadResume div {
  margin-bottom: 2px;
  margin-right: 10px;
}


@media (min-width: 768px) {
  .About .Col1 {
    margin-top: 190px;
  }

  .About .Col2 {
    text-align: center;
    margin-top: 150px;
  }

  .Me {
    width: 100%;
  }

  .About h2 {
    font-size: 50px;
  }

  .About h3 {
    font-size: 24px;
  }

  .About h1,
  .About h2,
  .About h3,
  .About p {
    padding: none;
  }
}


@media (min-width: 922px) {
  .About .Col2 {
    margin-top: 100px;
  }

  .About h2 {
    font-size: 60px;
  }

  .About h3 {
    font-size: 30px;
  }

  .About .DevIcon {
    height: 35px;
  }
}

@media (min-width: 1075px) {
  .About h2 {
    font-size: 80px;
  }

  .About h3 {
    font-size: 30px;
  }
}

