.DownloadResume {
    margin-top: 20px;
    float: left;
  }
  
  .DownloadResume img {
    height: 20px;
    width: auto;
    padding-right: 10px;
    padding-bottom: 4px;
  }
  
  .DownloadResume div {
    margin-bottom: 2px;
    margin-right: 10px;
  }