.DownloadResume {
    margin-top: 20px;
    float: left;
  }
  
  .DownloadResume img {
    height: 20px;
    width: auto;
    padding-right: 10px;
    padding-bottom: 4px;
  }
  
  .DownloadResume div {
    margin-bottom: 2px;
    margin-right: 10px;
  }

@media(max-width: 767px) {
  .DownloadResumeWrapper {
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 330px;
  }

  .DownloadResumeWrapper span {
    margin-right: auto;
  }
}

@media(max-width: 360px) {
  .DownloadResumeWrapper {
    width: auto;
  }
}


