.Contact {
  background-color: var(--dark-background-color);
  color: white;
}

.FormColumn {
  margin: 0 auto;
  padding-top: 20px;
}

@media (min-width: 1200px) {
  .FormColumn {
    max-width: 50%;
  }
}
