.ProjectModalContent {
  text-align: left;
}

.ProjectModalContent h1 {
  font-weight: bold;
  padding-bottom: 3px;
  border-bottom: solid 1px black;
}

.ProjectModalContent span {
  font-weight: 700;
}
