.SocialIcons {
  padding: 12px 0 12px;
  display: flex;
}

.SocialIcons img {
  padding: 0 7px;
}

.SocialIcons a {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  border-color: rgba(0, 0, 0, 0.5);
  margin-left: 20px;
}

.SocialIcons a:hover:nth-child(1) {
  border: 4px solid #00405d;
  box-shadow: 0 0 15px #00405d;
  transition: all 0.5s ease;
}

.SocialIcons a:hover:nth-child(2) {
  border: 4px solid #0e76a8;
  box-shadow: 0 0 15px #0e76a8;
  transition: all 0.5s ease;
}

@media (min-width: 320px) {
  .SocialIcons img {
    height: 37px;
  }
  .SocialIcons a {
    width: 55px;
    height: 55px;
  }
}

@media (min-width: 576px) {
  .SocialIcons img {
    height: 42px;
  }

  .SocialIcons a {
    width: 60px;
    height: 60px;
  }
}
